data/*
!data/.gitkeep
scclip.egg-info/*
*__pycache__
*.ipynb_checkpoints
log/*
scripts/*
benchmarks/*
jupyters/*
results/*

logs/
data/Fetal/
data/human_cite/
data/human_multiome/
data/simulated/
results/
scclip.egg-info/
scclip/__pycache__/